#levelupper{
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

#levelupper:hover{
    background-color: #08f830;
}
#levelupper:active{
    background-color: rgb(0, 116, 12);
}

#statsborder{
    display: none;
    border-style: solid;
    width: 166px;
}
#armorborder{
    display: none;
    border-style: solid;
}

#startbutton{
    display: inline-block;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
    border-style: solid;
    padding-top: 55px;
    width: 550px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

#startbutton:hover{
    background-color: #08f830;
}
#startbutton:active{
    background-color: rgb(0, 116, 12);
}

.cards{
    display: none;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
    border-style: solid;
    padding: 1px;
    height: 200px;
    width: 150px;
    margin: 5px;
}
.cards:hover{
    background: black;
    color: white;
}
.cards:active{
    background: grey;
    color: white;
}
#maintext{
    display: none;
    border: solid;
    width: 550px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}
